IPHONEOS_DEPLOYMENT_TARGET = 17.0
SWIFT_VERSION = 5.0
SWIFT_EMIT_LOC_STRINGS = NO
SWIFT_STRICT_CONCURRENCY = minimal
CODE_SIGN_STYLE = Automatic
TARGETED_DEVICE_FAMILY = 1
MARKETING_VERSION = 1.0
CURRENT_PROJECT_VERSION = 1
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks

